table {
 margin: auto;
 text-align: center;
 max-width: 400px;
}
.checkbox {
    margin-left:20px;
}
.inline {
    display: inline-block;
}

.card {
	background: url("cards1.jpg") no-repeat;
	background-position: -200px 0px;
	width: 182px;
	height: 253px;
	border-radius: 3px;
}

